@import "tachyons";

html, body {
	overflow-x: hidden;
}
body {
	font-family: "Roboto", sans-sarif;
	font-size: 16px;
	line-height: 1.61;
}
/*@media screen and (max-width: 768px) {
	body {
		font-size: 13px;
	}
}*/
section {
	transition: all .3s cubic-bezier(0.86, 0, 0.07, 1);
}
img {
	vertical-align: bottom;
}

/*Typography*/
h1 {
	font-size: 3em;
	line-height: 1.3;
}
h2 {
	font-size: 2.25em;
}
h3 {
	font-size: 1.75em;
}
h4 {
	font-size: 1.5em;
}
h5 {
	font-size: 1.25em;
}
.p-small {
	font-size: .9em;
}
.p-large {
	margin: auto;
    left: 0;
    right: 0;
    font-size: 120px;
    top: 170px;
    bottom: 0;
}
p {
	font-size: 1em;
	letter-spacing: 0.62px;
}
h1, h2, h3, h4, h5, h6, p {
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
}
a {
	text-decoration: none;
}

/* Custom */
.w-85 {
	width: 85%;
}
.w45 {
	width: 10rem;
}

.w48 {
	width: 16rem;
}

.h45 {
	height: 10rem;
}
.mw-320 {
	max-width: 320px;
}
.mw74 {
	max-width: 74rem;
}
.mh-360 {
	min-height: 360px;
}
.mh-600 {
	min-height: 600px;
}
.h-480 {
	height: 480px;
}
.u-line:before {
	content: "";
	width: 0%;
	height: 2px;
	background-color: #ccc;
	display: block;
	position: absolute;
	bottom: -3px;
	transition: all .35s cubic-bezier(0.86, 0, 0.07, 1);
}
.u-line:hover:before {
	width: 100%;
}
.cp {
	cursor: pointer;
}

/* Button */
.btn {
	transition: all .4s ease-in-out;
}
.btn-color {
	left: 0;
	transform: translateX(-100%);
	transition: all .35s cubic-bezier(0.86, 0, 0.07, 1);
}
.btn:hover .btn-color{
	transform: translateX(0%);
	transition: all .35s cubic-bezier(0.86, 0, 0.07, 1);
}

/* Color */
.bg-dark-black {
	background-color: #1b1b1c;
}
.dark {
	color: #2a2039;
}
.bg-dark {
	background-color: #2a2039;
}
.bg-light {
	background-color: #f4f4f4;
}
.b--dark {
	border-color: #2a2039;
}

/* Flex */
.flexbox {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	overflow: hidden;
	flex-wrap: wrap;
}
.flexbox .push {
	width: calc(33.33% - 1px);
	overflow: hidden;
	transition: all .35s cubic-bezier(0.86, 0, 0.07, 1);
}

@media screen and (min-width: 1025px) {
	.flexbox .push{
		flex: 2 0 0;
	}
	.flexbox .push:hover {
		flex: 3 0 0;
		transition: all .35s cubic-bezier(0.86, 0, 0.07, 1);
	}
	.flexbox .topic{
		flex: 4 0 0;
	}
	.flexbox .topic:hover {
		flex: 5 0 0;
		transition: all .35s cubic-bezier(0.86, 0, 0.07, 1);
	}
}
.flexbox .partners {
	width: calc(33.33% - 2rem - 1px);
}
.flexbox .project {
	width: calc(50% - 2rem - 1px);
}

@media screen and (max-width: 768px) {
	.flexbox .partners {
		width: calc(100% - 2rem);
	}
	.flexbox .push {
		width: 100%;
	}
	.flexbox .project {
		width: calc(100% - 2rem);	
	}
}
@media screen and (max-width: 1024px) and (min-width: 769px) {
	.flexbox .partners {
		width: calc(50% - 2rem - 1px);
	}
}

@media screen and (min-width: 769px) {
	.project:nth-child(2n) {
		margin-top: 60px;
	}
}

/* Projects */
.project-img {
	transition: all .15s cubic-bezier(0.86, 0, 0.07, 1);
}

.project:hover .project-img {
	transform: scale(1.1);
	transition: all .2s ease-in-out;
}
.project:hover .dash:before {
	width: 3px;
	border-radius: 3px;
	left: 47px;
}

.dash {
	position: relative;
}
.dash:before {
	content: '';
	width: 50px;
	height: 3px;
	background-color: #fff;
	display: block;
	position: absolute;
	left: 0;
	top: 17px;
	transition: all .35s cubic-bezier(0.86, 0, 0.07, 1);
}

/* Transition */
.showdiv {
	transform: translateY(-100%);
	transition: all .35s cubic-bezier(0.86, 0, 0.07, 1);
	z-index: 10;
}
.hidediv {
	opacity: 1;
	transform: translateY(0px) scaleX(1);
	transition: all .35s ease-in-out;
}
.hideme {
	opacity: 0;
	transform: translateY(20px) scaleX(1);
}
.hideme-more {
	opacity: 1;
	transform: translateY(100px);
}

.hideme-expand {
	opacity: 0;
	transform: translateY(0px) scaleX(0);
}
.showme-expand-y {
	transform: translateY(0);
}
.showdiv + figure {
	transform: scale(1);
	transition: all .8s ease-in-out;
}
.showme-expand-y + figure {
	transform: scale(1.06);
}

.delay {
	transition-duration: .75s;
}

/* Swiper */
.swiper-container {
	overflow: visible;
}
.swiper-pagination {
	position: relative;
}
.swiper-pagination-bullet {
	margin: 0 5px;
}
.swiper-button-disabled {
	opacity: .1 !important
}
.swiper-pagination-bullet-active {
	background: #333 !important;
}
.slide:hover {
	transform: scale(1.04);
	transition: all .35s cubic-bezier(0.86, 0, 0.07, 1);
}

/* Gallery */
.hover-scroll {
	position: relative;
}
.hover-scroll ul {
	margin-bottom: -15px;
}
.hover-scroll-next {
	background-color: transparent;
	display: block;
	width: 33%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
}
.hover-scroll-prev {
	background-color: transparent;
	display: block;
	width: 33%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}
